<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des clients</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
        .header {
            overflow: auto;
        }

        .header h1 {
            float: left;
        }

        .header .add-button {
            float: right;
            margin-top: 20px;
        }


    </style>
</head>
<body>
    <div class="header">
        <h1>Liste des clients</h1>
        <a href="{% url 'formulaire_client' %}" class="add-button">
            <button type="button">Ajouter client</button>
        </a>
    </div>
    <table>
        <thead>
            <tr>
                <!-- En-têtes du tableau -->
                <th>Catégorie de compte</th>
                <th>Raison sociale</th>
                <th>Sigle</th>
                <th>Code TVA</th>
                <th>Nature du compte</th>
                <th>NIF</th>
                <th>NIS</th>
                <th>Registre de commerce</th>
                <th>Article d'imposition</th>
                <th>Devise</th>
                <th>Rue</th>
                <th>Ville</th>
                <th>Région</th>
                <th>Type de région</th>
                <th>Code postal</th>
                <th>Pays</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Secteur d'activité</th>
                <th>Condition de paiement</th>
                <th>Créé le</th>
                <th>Créé par</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Fonction</th>
                <th>Type de client</th>
                <th>Fax</th>
                <th>Dossier validé</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <!-- Champs de données pour chaque client -->
                <td>{{ client.categorie_compte }}</td>
                <td>{{ client.raison_sociale }}</td>
                <td>{{ client.sigle }}</td>
                <td>{{ client.code_tva }}</td>
                <td>{{ client.nature_compte }}</td>
                <td>{{ client.nif }}</td>
                <td>{{ client.nis }}</td>
                <td>{{ client.registre_commerce }}</td>
                <td>{{ client.article_imposition }}</td>
                <td>{{ client.devise }}</td>
                <td>{{ client.rue }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.region }}</td>
                <td>{{ client.type_de_region }}</td>
                <td>{{ client.code_postale }}</td>
                <td>{{ client.pays }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.secteur_activite }}</td>
                <td>{{ client.condition_paiement }}</td>
                <td>{{ client.cree_le }}</td>
                <td>{{ client.cree_par }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.fonction }}</td>
                <td>{{ client.type_client }}</td>
                <td>{{ client.fax }}</td>
                <td>{{ client.dossier_valide }}</td>
                <td>{{ client.statut }}</td>
                <!-- Ajoutez un formulaire pour le bouton "Modifier" -->
                <td>
                    <form action="{% url 'modifier_client' client.id %}" method="get">
                        {% csrf_token %}
                        <button type="submit">Modifier</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
